@import 'sass-common.scss';

header {
  background: $color-primary2;
  height: 100px;
  padding: 20px;

  .logo {
    color: yellow;
    width: 80px;
    float: left;
  }

  ul {
    float: right;
  }
  li {
    float: left;
    padding-left: 30px;
    list-style: none;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
